
config.php
data/config/config_global.php
data/cache/contact/*.cache
data/cache/modules/*.cache
data/cache/page/*.cache
data/cache/setting/*.cache
data/cache/themes/*.cache
data/cache/users/*.cache
data/logs/
data/tmp/
*.cache